<h1>Weather App</h1>

<p>Temperature: {{data.temp}}</p>
<p>humidity: {{data.humidity}}</p>
<p>precipitation: {{data.precipitation}}</p>
<p>location: {{data.location}}</p>
<p>wind: {{data.wind}}</p>
<p>day: {{data.day}}</p>
<p>time: {{data.time}}</p>
<p>type: {{data.type}}</p>


